<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div style="text-align: right; padding: 10px;">
    <form th:action="@{/logout}" method="post" style="display: inline;">
        <button type="submit">Выйти</button>
    </form>
</div>

<h2>User Profile</h2>

<p><strong>ID:</strong> <span th:text="${user.id}"></span></p>
<p><strong>Name:</strong> <span th:text="${user.name}"></span></p>
<p><strong>Surname:</strong> <span th:text="${user.surname}"></span></p>
<p><strong>Age:</strong> <span th:text="${user.age}"></span></p>
<p><strong>Username:</strong> <span th:text="${user.username}"></span></p>
<p><strong>Roles:</strong>
    <span th:each="role : ${user.roles}" th:text="${role.roleName} + ' '"></span>
</p>
</body>
</html>